{% extends "base.html" %}

{% block content %}
<main>
    <!-- Contato Form -->
    <section class="form-contato-secao prestador-form">
        <div class="container">
            <h2>Cadastre-se</h2>
            <div class="divisor-form">
                <div class="status"></div>
            </div>
            <form class="form-contato" method="POST">
                {% csrf_token %}
            
                <div class="form-item nome">
                    <label for="nome">Nome*</label>
                    {{ form.name }}
                </div>
            
                <div class="form-item email">
                    <label for="email">E-mail*</label>
                    {{ form.email }}
                </div>
            
                <div class="form-item cpf">
                    <label for="cpf">CPF*</label>
                    {{ form.cpf }}
                </div>
            
                <div class="form-item role">
                    <label for="role">Tipo de Usuário*</label>
                    {{ form.role }}
                </div>
            
                <div class="form-item coordination" id="coordination-field" style="display: none;">
                    <label for="coordination">Coordenação*</label>
                    {{ form.fk_coordination }}
                </div>
            
                <div class="form-item senha">
                    <label for="senha">Senha*</label>
                    {{ form.password1 }}
                </div>
            
                <div class="form-item confirmar-senha">
                    <label for="confirmar-senha">Confirmar senha*</label>
                    {{ form.password2 }}
                </div>
            
                <button class="btn-green" type="submit">ENVIAR</button>
            </form>
            
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    const roleField = document.querySelector("select[name='role']");
                    const coordinationField = document.getElementById("coordination-field");
            
                    function toggleCoordinationField() {
                        if (roleField.value === "secretary") {
                            coordinationField.style.display = "block";
                        } else {
                            coordinationField.style.display = "none";
                        }
                    }
            
                    roleField.addEventListener("change", toggleCoordinationField);
                    toggleCoordinationField();  // Chamar a função no carregamento da página
                });
            </script>
            
        </div>
    </section>
</main>
{% endblock content %}