{% extends "base.html" %}
{% load static %}

{% block content %}
  <!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->




<section id="services-448">
    <div class="cs-container">
        <div class="cs-content">  
            <span class="cs-topper">Plataforma de Bancas</span>  
            <h2 class="cs-title">Gerenciamento de Bancas Acadêmicas</h2>  
            <p class="cs-text">  
              A plataforma oferece uma solução intuitiva para o agendamento e gestão de bancas acadêmicas, garantindo organização e eficiência no processo. Com funcionalidades que permitem a criação, acompanhamento e aprovação de bancas, professores e secretários podem gerenciar datas, locais e participantes de forma prática e acessível.  
            </p>  
          </div>
          
        <ul class="cs-card-group">
            <li class="cs-item" id="bancaCard" data-url="{% url 'administrative:banca' %}">
                <div class="cs-flex">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/user.svg" alt="icon" width="70" height="70">
                    </picture>
                    <h3 class="cs-h3">Banca</h3><p class="cs-item-text">Agendamento e Listagem de Bancas</p>
                </div>
                <picture class="cs-picture">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="{% static "img/bancas.jpg" %}" alt="leaf" width="345" height="428">
                </picture>
            </li>
            <li class="cs-item" id="salaCard" data-url="{% url 'administrative:sala' %}">
                <div class="cs-flex">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/user.svg" alt="icon" width="70" height="70">
                    </picture>
                    <h3 class="cs-h3">Sala</h3><p class="cs-item-text">Agendamento e Listagem de Salas</p>
                </div>
                <picture class="cs-picture">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="{% static "img/salas.jpg" %}" alt="grass" width="345" height="428">
                </picture>
            </li>
            <li class="cs-item" id="historicoCard" data-url="{% url 'administrative:historico' %}">
                <div class="cs-flex">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/user.svg" alt="icon" width="70" height="70">
                    </picture>
                    <h3 class="cs-h3">Histórico</h3><p class="cs-item-text">Histórico de Bancas</p>
                </div>
                <picture class="cs-picture">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="{% static "img/bancas.jpg" %}" alt="leaves" width="345" height="428">
                </picture>
            </li>
            {% comment %} <li class="cs-item">
                <div class="cs-flex">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/user.svg" alt="icon" width="70" height="70">
                    </picture>
                    <h3 class="cs-h3">Calendário</h3><p class="cs-item-text">Lorem ipsum dolor sit amet, consectetur.</p>
                </div>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/leaves.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/leaves.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/leaves.jpg" alt="leaves" width="345" height="428">
                </picture>
            </li> {% endcomment %}
        </ul>
    </div>
</section>


{% endblock content %}