{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
    <section class="list-section">
        <div class="container">
            <h2>Lista de Agendamentos de Salas</h2>

            <!-- Legenda de cores -->
            <div class="legend">
                <button class="legend-card status-analise" onclick="filterAgendamento('analise')">Em Análise</button>
                <button class="legend-card status-aceita" onclick="filterAgendamento('confirmado')">Confirmada</button>
                <button class="legend-card status-andamento" onclick="filterAgendamento('andamento')">Em Andamento</button>
                <button class="legend-card status-finalizada" onclick="filterAgendamento('finalizada')">Finalizada</button>
            </div>
            
            <div class="courses-container">
                {% for agendamento in agendamentos %}
                <div class="course agendamento-item" data-status="{{ agendamento.status|lower }}">
                    <div class="course-preview status-{{ agendamento.status|lower }}">
                        <h1 class="course-title">{{ agendamento.materia }}</h1>
                        <a href="#">{{ agendamento.get_tipo_display }} <i class="fas fa-chevron-right"></i></a>
                    </div>
                    <div class="course-info">
                        <h6>{{ agendamento.data }}</h6>
                        <h2>{{ agendamento.professor.name }}</h2>
                        <p><strong>Bloco:</strong> {{ agendamento.sala.block.name }}</p>
                        <p><strong>Sala:</strong> {{ agendamento.sala.name }}</p>
                        <p><strong>Horário:</strong> {{ agendamento.horario_inicio }} - {{ agendamento.horario_fim }}</p>
                        <button class="btn" data-toggle="modal" data-target="#agendamentoModal{{ agendamento.id }}">Ver Mais</button>
                        {% if user_role == 'secretary' and agendamento.status|lower == "analise" %}
                        <button class="button-1" onclick="confirmAgendamento({{ agendamento.id }})">Confirmar</button>
                        {% endif %}
                    </div>
                </div>

                <!-- Modal Ver Mais -->
                <div class="modal fade" id="agendamentoModal{{ agendamento.id }}" tabindex="-1" role="dialog" aria-labelledby="agendamentoModalLabel{{ agendamento.id }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="agendamentoModalLabel{{ agendamento.id }}">Detalhes do Agendamento</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p><strong>Professor:</strong> {{ agendamento.professor.name }}</p>
                                <p><strong>Sala:</strong> {{ agendamento.sala.name }}</p>
                                <p><strong>Matéria:</strong> {{ agendamento.materia }}</p>
                                <p><strong>Data:</strong> {{ agendamento.data }}</p>
                                <p><strong>Horário de Início:</strong> {{ agendamento.horario_inicio }}</p>
                                <p><strong>Horário de Fim:</strong> {{ agendamento.horario_fim }}</p>
                                <p><strong>Status:</strong> {{ agendamento.status }}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="button-red" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>

<script>
console.log("User role: {{ user_role }}");
function confirmAgendamento(agendamentoId) {
    fetch(`/administrative/confirm_agendamento/${agendamentoId}/`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}',
        },
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            location.reload();
        } else {
            console.error('Erro ao confirmar agendamento:', data.error);
            alert('Erro ao confirmar agendamento: ' + data.error);
        }
    })
    .catch(error => {
        console.error('Erro ao enviar requisição:', error);
        alert('Erro ao enviar requisição. Tente novamente mais tarde.');
    });
}

function filterAgendamento(status) {
    const agendamentos = document.querySelectorAll(".agendamento-item");
    agendamentos.forEach(agendamento => {
        if (status === "all" || agendamento.getAttribute("data-status") === status) {
            agendamento.style.visibility = "visible";
            agendamento.style.position = "relative";
        } else {
            agendamento.style.visibility = "hidden";
            agendamento.style.position = "absolute";
        }
    });

    // Remover a classe 'active' de todos os botões e adicionar no selecionado
    document.querySelectorAll(".legend-card").forEach(btn => btn.classList.remove("active"));
    document.querySelector(`.legend-card.status-${status}`)?.classList.add("active");
}
</script>
{% endblock content %}