<!-- filepath: /c:/Users/Gabriel/Desktop/AvaliaTec/administrative/templates/administrative/banca_list.html -->
{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
<main>
    <section class="list-section">
        <div class="container">
            <h2>Histórico de Bancas Finalizadas</h2>
            <div class="courses-container">
                {% if bancas %}
                    {% for banca in bancas %}
                    <div class="course">
                        <div class="course-preview status-{{ banca.status|lower }}">
                            <h1 class="course-title">{{ banca.tema }}</h1>
                            <a href="#">{{ banca.get_tipo_display }} <i class="fas fa-chevron-right"></i></a>
                        </div>
                        <div class="course-info">
                            <h6>{{ banca.data }}</h6>
                            <h2>{{ banca.alunos_nomes }}</h2>
                            <p><strong>Bloco:</strong> {{ banca.sala.block.name }}</p>
                            <p><strong>Sala:</strong> {{ banca.sala.name }}</p>
                            <p><strong>Horário:</strong> {{ banca.horario_inicio }} - {{ banca.horario_fim }}</p>
                            <button class="btn" data-toggle="modal" data-target="#bancaModal{{ banca.id }}">Ver Mais</button>
                            {% if user_role == 'secretary' %}
                            <button class="button-1" onclick="confirmBanca({{ banca.id }})">Confirmar</button>
                            <button class="button-1" data-toggle="modal" data-target="#documentosModal{{ banca.id }}">Documentos</button>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Modal Ver Mais -->
                    <div class="modal fade" id="bancaModal{{ banca.id }}" tabindex="-1" role="dialog" aria-labelledby="bancaModalLabel{{ banca.id }}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="bancaModalLabel{{ banca.id }}">Detalhes da Banca</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p><strong>Tema:</strong> {{ banca.tema }}</p>
                                    <p><strong>Tipo:</strong> {{ banca.get_tipo_display }}</p>
                                    <p><strong>Data:</strong> {{ banca.data }}</p>
                                    <p><strong>Alunos:</strong> {{ banca.alunos_nomes }}</p>
                                    <p><strong>Bloco:</strong> {{ banca.sala.block.name }}</p>
                                    <p><strong>Sala:</strong> {{ banca.sala.name }}</p>
                                    <p><strong>Horário:</strong> {{ banca.horario_inicio }} - {{ banca.horario_fim }}</p>
                                    <p><strong>Status:</strong> {{ banca.status }}</p>
                                    <p><strong>Orientador:</strong> {{ banca.orientador.get_full_name }}</p>
                                    {% if banca.co_orientador %}
                                    <p><strong>Co-orientador:</strong> {{ banca.co_orientador.get_full_name }}</p>
                                    {% endif %}
                                    <p><strong>Composição da Banca:</strong> 
                                        {% for professor in banca.professores_banca.all %}
                                            {{ professor.get_full_name }}{% if not forloop.last %}, {% endif %}
                                        {% endfor %}
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal Documentos -->
                    <div class="modal fade" id="documentosModal{{ banca.id }}" tabindex="-1" role="dialog" aria-labelledby="documentosModalLabel{{ banca.id }}" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="documentosModalLabel{{ banca.id }}">Documentos da Banca</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <button class="button-1" onclick="window.location.href='{% url 'administrative:generate_pdf' banca.id banca.orientador.id %}'">{{ banca.orientador.get_full_name }}</button>
                                    {% if banca.co_orientador %}
                                    <button class="button-1" onclick="window.location.href='{% url 'administrative:generate_pdf' banca.id banca.co_orientador.id %}'">{{ banca.co_orientador.get_full_name }}</button>
                                    {% endif %}
                                    {% for professor in banca.professores_banca.all %}
                                    <button class="button-1" onclick="window.location.href='{% url 'administrative:generate_pdf' banca.id professor.id %}'">{{ professor.get_full_name }}</button>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>Nenhuma banca finalizada encontrada.</p>
                {% endif %}
            </div>
        </div>
    </section>
</main>
<script>
    console.log("User role: {{ user_role }}");

function confirmBanca(bancaId) {
    fetch(`/administrative/confirm_banca/${bancaId}/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
        },
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            location.reload();
        } else {
            console.error('Erro ao confirmar banca:', data.error);
            alert('Erro ao confirmar banca: ' + data.error);
        }
    })
    .catch(error => {
        console.error('Erro ao enviar requisição:', error);
        alert('Erro ao enviar requisição. Tente novamente mais tarde.');
    });
}
</script>
{% endblock content %}