{% extends "base.html" %}

{% block content %}
<main>
    <section class="list-section">
        <div class="container">
            <h2>Lista de Salas</h2>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Bloco</th>
                    </tr>
                </thead>
                <tbody>
                    {% for room in rooms %}
                    <tr>
                        <td>{{ room.id }}</td>
                        <td>{{ room.name }}</td>
                        <td>{{ room.block.name }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3" class="no-data">Nenhuma sala encontrada.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="buttons">
                <a href="{% url 'administrative:create_room' %}" class="button-1">Cadastrar Salas</a>
                <a href="{% url 'administrative:admin_dashboard' %}" class="button-1">Voltar</a>
            </div>
        </div>
        
    </section>
</main>
{% endblock content %}
